.menu {
    
    width: 400px;
    border: 2px solid orange;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.block {
    padding: 5px;
    border: 2px solid blue;
    flex: 1;
    text-align: left;
}

.block:hover {
    background-color: blue;
}