body {
    margin: 5px;
    box-sizing: border-box;
}

.menu {
    width: 700px;
    margin: 0 auto;
}

ul { 
    
    background-color: #2696E8;
    border: 1px solid #0000FF;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
}

ul li {
    list-style-type: none;
    color: white;
    padding: 10px;
}

ul li:hover {
    background-color: white;
    color: #2696E8;
}

