.container {
    display: flex;
    width: 70%;
    border: 1px solid blue;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    margin: 0;
    padding: 0;
    height: 200px;
    min-width: 200px;
    border: 1px solid blue;
    margin-bottom: 30px;
}